</div>
</div>
</body>
                <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="assets/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        
        <!-- <script src="assets/dist/js/dashboard.js"></script></body> -->
        <script>
            $(function() {
                var url  = window.location.href; 
                var curr = url.lastIndexOf("/");

                if(url.substring(curr+1) == "kompetensi.php")
                {
                    $(".kompetensi").addClass("active");
                }
                else if(url.substring(curr+1) == "materi.php")
                {
                    $(".materi").addClass("active");
                }
                else if(url.substring(curr+1) == "profil.php")
                {
                    $(".profil").addClass("active");
                }
                else if(url.substring(curr+1) == "soal_latihan.php")
                {
                    $(".soall").addClass("active");
                }
                else if(url.substring(curr+1) == ".php")
                {
                    $(".soale").addClass("active");
                }

            });
        </script>
</html>
